body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(0,212,255,1) 100%);
}

.main {
    display: flex;
    justify-content: center;
}

button {
    height: 69px;
    width: 150px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: rgb(85, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: roboto, sans-serif;
}

input {
    background-color: black;
    border-radius: 7px;
    border: 1px black solid;
    color: white;
    font-family: roboto, sans-serif;
}

p {
    color: white;
    text-align: center;
}